
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="120"
    alt="PokeImage"
    src="../assets/PokemonLogo.png"
  />
</div>

<div class="content" role="main">
<input #pokemonName >
<button (click)="findPokemon(pokemonName.value)">Search Pokemon</button>

<div *ngIf="pokemon">
    <p>Id: {{pokemon.id}}</p>
    <p>Name: {{pokemon.name}}</p>
    <p>Height: {{pokemon.height}}</p>
    <p>Weight: {{pokemon.weight}}</p>
    <p>Base XP: {{pokemon.base_experience}}</p>
    <img  class="images" src={{imgFront}}/>
    <img  class="images" src={{imgBack}}/>
</div>

</div>

<router-outlet></router-outlet>